html {
    scroll-padding-top: var(--stack-gap-headings, 3rem);
}

body {
    color: var(--body-color);
    background: var(--body-background);
    font-family: var(--font-family-base);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    accent-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font-family);
    line-height: var(--headings-line-height);
    font-style: var(--headings-font-style);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 500;
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: 500;
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: 500;
}

h6 {
    font-size: var(--h6-font-size);
    font-weight: 500;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration-skip: edges;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.25em;
    text-decoration-line: var(--link-text-decoration);
    color: var(--link-color);
    &:hover,
    &:focus {
        color: var(--link-hover-color);
        text-decoration-line: var(--link-hover-text-decoration);
    }
}

button {
    cursor: pointer;
}

strong {
    font-weight: var(--font-weight-bold);
}

hr {
    color: inherit;
    border: 0;
    border-top: 1px solid var(--border-color);
    opacity: 0.7;
}

sup {
    vertical-align: super;
    font-size: 0.75em;
}

sub {
    vertical-align: sub;
    font-size: 0.75em;
}

ul:not([class]),
ol:not([class]) {
    list-style-type: none;
    padding: 0;

    > li {
        list-style-type: none;
        position: relative;
        padding-left: 1.5em;
        --stack-gap: 0.25em;

        &::before {
            position: absolute;
            left: 0;
            font-weight: var(--font-weight-bold);
            color: currentColor;
        }
    }

    > li + li {
        margin-top: var(--stack-gap);
    }

    > ul:not([class]),
    > ol:not([class]) {
        margin-top: var(--stack-gap);
    }
}

ul:not([class]) {
    > li {
        &::before {
            content: '→';
        }
    }
}

ol:not([class]) {
    counter-reset: steps;

    > li {
        counter-increment: steps;

        &::before {
            content: counter(steps) '.';
        }
    }
}

code,
pre,
kbd,
samp {
    font-family: var(--font-family-mono);
    font-size: 0.9em;
}

:not(pre) > code {
    color: #b3261e;
    background-color: #fceeed;
    padding: 0.2em 0.3em;
    border-radius: 0.25em;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
