---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="404 Not Found">
    <section id="not-found" aria-labelledby="not-found-heading">
        <h1 id="not-found-heading">HTTP 404 – Page not found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
    </section>
</BaseLayout>

<style>
    body {
        height: 100svh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    :global(main) {
        place-self: center;
    }

    section {
        padding-inline: var(--container-padding-x);
    }

    h1 {
        margin-block-end: 1rem;
    }
</style>
