---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectTeaser from '@components/ProjectTeaser.astro';
import ArticleTeaser from '@components/ArticleTeaser.astro';
import Emoji from '@components/Emoji.astro';
import { sortArticlesByDatePrefix } from '@utils/sort-content';

const projects = await getCollection('projects');
const articles = await getCollection('articles');
const articlesSorted = sortArticlesByDatePrefix(articles);
---

<BaseLayout title="Moritz L'Hoest – Web Developer">
    <section id="about-me">
        <h1 slot="heading" id="about-me-headline">About me <Emoji emoji="👋" /></h1>
    </section>

    <section id="projects" aria-labelledby="projects-heading">
        <h2 id="projects-heading">Projects</h2>
        {projects.map(project => <ProjectTeaser {project} />)}
    </section>

    <section id="articles" aria-labelledby="articles-heading">
        <h2 id="articles-heading">Articles</h2>
        {articlesSorted.map(article => <ArticleTeaser {article} />)}
    </section>
</BaseLayout>

<style>
    section {
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-areas: '. content .';

        grid-template-columns:
            [fullwidth-start]
            var(--container-padding-x)
            [content-start]
            minmax(0, 75ch)
            [content-end]
            var(--container-padding-x)
            [fullwidth-end];
    }

    section > :global(*) {
        grid-column: content-start / content-end;
    }

    section + section {
        margin-top: clamp(3rem, 5vw, 8rem);
    }

    /* :global(main > section > *){
        max-width: 65ch;
    } */
</style>
