---
import { Picture } from 'astro:assets';
import BaseLayout from '@layouts/BaseLayout.astro';

import portrait from '../images/portrait.jpg';
---

<BaseLayout title="Moritz L’Hoest – Web Developer">
    <section id="about-me" aria-labelledby="about-me-headline">
        <div class="about-me">
            <Picture
                src={portrait}
                alt="@TODO: Write alt"
                width="300"
                height="300"
                sizes="min(300px, 100vw)"
                widths={[300, 600, 900, 1200]}
                priority
                formats={['avif', 'webp']}
                quality="high"
                class="about-me__image"
                pictureAttributes={{ class: 'about-me__portrait' }}
            />
            <div class="about-me__body stack">
                <h1 slot="heading" id="about-me-headline">About me</h1>
                <p>
                    I'm Moritz L’Hoest, a web developer from Cologne, Germany. At the moment, I like to work with
                    <a href="https://craftcms.com/">Craft CMS</a> and <a href="https://astro.build/">Astro</a>. My
                    primary focus besides full stack development is on sustainability, accessibility and data privacy. I
                    work at
                    <a href="https://www.schwarzdesign.de/">schwarzdesign</a> as a developer and team lead.
                </p>
                <ul aria-label="Find me on the internet">
                    <li><a href="https://github.com/MoritzLost">GitHub</a></li>
                    <li><a href="https://stackexchange.com/users/3818740/moritzlost">Stack Exchange</a></li>
                    <li><a href="https://www.linkedin.com/in/moritzlost/">LinkedIn</a></li>
                    <li><a href="https://mehrlicht.photos/">My photography website (mehrlicht.photos)</a></li>
                </ul>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    section {
        container-type: inline-size;
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-areas: '. content .';

        grid-template-columns:
            [fullwidth-start]
            var(--container-padding-x)
            [content-start]
            minmax(0, 90ch)
            [content-end]
            var(--container-padding-x)
            [fullwidth-end];
    }

    section > * {
        grid-column: content-start / content-end;
    }

    .about-me {
        display: grid;
        gap: var(--stack-gap-headings);

        @container (min-width: calc(300px + 50ch)) {
            grid-template-columns: 300px 1fr;
        }
    }

    .about-me__image {
        border-radius: 24px;
    }

    .about-me__body > * + * {
        margin-top: var(--stack-gap);
        --stack-gap: 1rem;
    }

    .about-me__body > h1 + p {
        --stack-gap: 0.5rem;
    }
</style>
