---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectTeaser from '@components/ProjectTeaser.astro';

const projects = await getCollection('projects');
const projectsSorted = projects.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout title="Projects" description="Personal and open source projects by Moritz L’Hoest.">
    <section aria-labelledby="projects">
        <h1 id="projects">Projects</h1>
        <p class="intro">An overview of my open source projects and personal websites.</p>

        <div class="projects">
            {projectsSorted.map(project => <ProjectTeaser {project} />)}
        </div>
    </section>
</BaseLayout>

<style>
    section {
        container-type: inline-size;
        width: 100%;
        display: grid;
        justify-content: space-between;
        grid-template-areas: '. content .';

        grid-template-columns:
            [fullwidth-start]
            var(--container-padding-x)
            [content-start]
            minmax(0, 100ch)
            [content-end]
            var(--container-padding-x)
            [fullwidth-end];
    }

    section > * {
        grid-column: content-start / content-end;
    }

    .intro {
        max-width: 65ch;
        text-wrap: balance;
    }

    .projects {
        margin-block-start: clamp(32px, 4vw, 64px);
        display: grid;
        column-gap: clamp(32px, 4vw, 64px);
        row-gap: clamp(48px, 6vw, 128px);
        grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
    }
</style>
