---
import type { MarkdownHeading } from 'astro';
import { createHeadingsHierarchy } from '@utils/headings';
import TableOfContentsList from './TableOfContentsList.astro';

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const hierarchy = createHeadingsHierarchy(headings);
---

<nav aria-labelledby="toc-heading">
    <h2 id="toc-heading">Table of Contents</h2>
    <TableOfContentsList {hierarchy} />
</nav>

<style>
    h2 {
        margin-bottom: 1rem;
        font-size: var(--font-size-1);
    }
</style>
