---
import definitions from '@content/tags.json';

interface Props {
    tags: string[];
}

const { tags } = Astro.props;
---

<ul aria-label="Tags" class="tags">
    {
        tags.map(tag => {
            const definition = tag in definitions ? definitions[tag as keyof typeof definitions] : undefined;
            return definition ? <li title={definition}>{tag}</li> : <li>{tag}</li>;
        })
    }
</ul>

<style>
    .tags {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        color: light-dark(var(--red), var(--body-foreground));
        font-size: var(--font-size--1);
    }

    .tags > li {
        outline: 1px solid var(--body-foreground);
        padding: 0.125rem 0.75rem;
        cursor: help;
    }
</style>
