---
import Html from './Html.astro';
import Navigation from './Navigation.astro';

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<Html {title} {description}>
    <div class="page-layout">
        <Navigation />
        <main id="main">
            <slot />
        </main>
    </div>
</Html>

<style>
    .page-layout {
        display: grid;
        gap: clamp(3rem, 5vw, 8rem);
        padding-bottom: 3rem;
    }

    main {
        margin-inline: clamp(1.5rem, 3vw, 3rem);
    }
</style>
