---
import Html from './Html.astro';
import type { Props as SeoProps } from './Html.astro';

interface Props extends SeoProps {}
---

<Html {...Astro.props}>
    <main id="main">
        <slot />
    </main>
</Html>

<style is:global>
    body {
        display: grid;
        gap: clamp(3rem, 6vw, 6rem);
        margin-block: clamp(1.5rem, 6vw, 6rem);
    }
</style>
