---
import Html from './Html.astro';
import Sidebar from './Sidebar.astro';

interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<Html {title} {description}>
    <div class="page-layout">
        <header>
            <Sidebar />
        </header>
        <slot />
    </div>
</Html>

<style>
    .page-layout {
        display: grid;
        grid-template-areas: 'article' 'sidebar';

        @media (min-width: 50rem) {
            grid-template-areas: 'sidebar article';
            grid-template-columns: 20rem minmax(0, 1fr);

            > header {
                display: grid;
                max-height: 100vh;
                max-height: 100dvh;
                position: sticky;
                top: 0;
            }
        }
    }
</style>
