---
import Html from './Html.astro';
import type { Props as SeoProps } from './Html.astro';

interface Props extends SeoProps {}
---

<Html {...Astro.props}>
    <nav aria-label="Primary">
        <a href="#main" class="visually-hidden-focusable skip-to-main-content">Skip to main content</a>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="/projects/">Projects</a></li>
            <!-- <li class="menu__item"><a class="menu__link" href="/articles/">Articles</a></li> -->
        </ul>
    </nav>

    <main id="main">
        <slot />
    </main>

    <footer id="footer" aria-labelledby="contact">
        <h2 class="visually-hidden" id="contact">Contact links</h2>
        <ul class="contact-links" aria-label="Find me on the internet">
            <li><a href="https://github.com/MoritzLost">GitHub</a></li>
            <li><a href="https://stackexchange.com/users/3818740/moritzlost">Stack Exchange</a></li>
            <li><a href="https://www.linkedin.com/in/moritzlost/">LinkedIn</a></li>
        </ul>
    </footer>
</Html>

<style>
    body {
        display: grid;
        gap: clamp(1.5rem, 6vw, 6rem);
    }

    nav {
        display: grid;
        justify-items: center;
        padding-block-start: 0.25rem;
    }

    footer {
        margin-block-end: clamp(1.5rem, 3vw, 3rem);
        padding-inline: var(--container-padding-x);
    }

    .skip-to-main-content {
        padding: 0.75rem 1rem;
        margin-block-start: 0.5rem;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: var(--font-size-0);
        font-family: var(--headings-font-family);
        font-weight: 500;
    }

    .menu__link {
        display: block;
        padding: 0.75rem 1rem;
    }

    .contact-links {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        column-gap: 2rem;
        row-gap: 1rem;
        font-size: var(--font-size--1);
    }
</style>
