---

---

<nav aria-label="Primary">
    <a href="#main" class="visually-hidden-focusable skip-to-main-content">Skip to main content</a>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">About me</a></li>
        <li class="menu__item"><a class="menu__link" href="/#projects">Projects</a></li>
        <li class="menu__item"><a class="menu__link" href="/#articles">Articles</a></li>
    </ul>
</nav>

<style lang="postcss">
    nav {
        display: grid;
        justify-items: center;
    }

    .skip-to-main-content {
        padding: 1rem;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: var(--font-size-sm);
        font-family: var(--headings-font-family);
        font-weight: var(--headings-font-weight);

        @media (min-width: 30rem) {
            font-size: var(--font-size-lg);
        }

        .menu__link {
            display: block;
            padding: 1rem;
            --link-text-decoration: none;
        }
    }
</style>
